* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--black);
}

header {
	.navigation {
		background-color: var(--black);
		width: 100vw;
		height: 75px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		top: 0;
		z-index: 11;
	}

	video {
		width: 100vw;
		filter: brightness(0.5);
		object-fit: cover;
		display: block;
		z-index: 10;
	}

	.vidText {
		width: 70%;
		height: 20%;
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

main {
	.type {
		background-color: var(--black);

		.type_grid {
			width: 100vw;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(2, 1fr);
			gap: 10px;

			.box {
				display: block;
				margin: 0 auto;
				img {
					max-width: 40vw;
					height: auto;
					object-fit: cover;
					filter: brightness(0.5);
				}

				.rank1 {
					max-width: 40vw;
					position: relative;
					top: -55%;
					padding: 20px 0;
					z-index: 100;
					background-color: rgb(80, 51, 51);
					opacity: 0.7;
					color: aliceblue;
				}

				.rank2 {
					max-width: 40vw;
					position: relative;
					top: -55%;
					padding: 20px 0;
					z-index: 100;
					background-color: rgb(152, 152, 152);
					opacity: 0.7;
					color: aliceblue;
				}

				.rank3 {
					max-width: 40vw;
					position: relative;
					top: -55%;
					padding: 20px 0;
					z-index: 100;
					background-color: var(--oldGold);
					opacity: 0.7;
					color: aliceblue;
				}

				.rank4 {
					max-width: 40vw;
					position: relative;
					top: -55%;
					padding: 20px 0;
					z-index: 100;
					background-color: #434343;
					opacity: 0.7;
					color: aliceblue;
				}
			}
		}
	}

	.line {
		width: 100vw;
		height: 10vh;
		background-color: var(--bananaYellow);
		position: relative;
	}

	.text {
		color: var(--lSilver);
		padding: 40px 20px;
		text-align: center;
	}

	.gym_area {
		background-color: var(--lSilver);
		position: relative;

		.gym_area_img {
			text-align: center;
			margin: 0 auto;

			img {
				margin: 30px auto;
				width: 70vw;
				height: auto;
				filter: brightness(0.5);
			}
		}

		.gym_area_btn {
			text-align: center;

			button {
				position: absolute;
				padding: 10px 30px;
				border: none;
				background-color: var(--oldGold);
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.first_btn:nth-child(1) {
				top: 30%;
			}

			.first_btn:nth-child(2) {
				top: 60%;
			}

			.first_btn:nth-child(3) {
				top: 90%;
			}
		}
	}

	.gym_info {
		position: relative;

		.gym_info_img {
			margin: 0 auto;
			text-align: center;

			img {
				width: 70vw;
				height: auto;
				margin: 30px auto;
				filter: brightness(0.7);
			}
		}

		.gym_info_btn {
			text-align: center;

			button {
				position: absolute;
				padding: 10px 30px;
				border: none;
				background-color: var(--oldGold);
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.second_btn:nth-child(1) {
				top: 45%;
			}

			.second_btn:nth-child(2) {
				top: 90%;
			}
		}
	}

	.gym_rehabilitation {
		background-color: var(--lSilver);
		position: relative;
		padding: 50px 0;

		h2 {
			padding: 30px;
		}

		.gym_rehabilitation_img {
			margin: 0 auto;

			.reh_img:nth-child(2) {
				width: 70vw;
				height: auto;
				margin: 20px 0;
				filter: brightness(0.8);
			}

			.reh_img:nth-child(1) {
				width: 70vw;
				height: auto;
				margin: 20px 0;
				filter: brightness(0.8);
			}
		}

		.gym_rehabilitation_text {
			.gym_reh_text_1 {
				position: absolute;
				top: 55%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.gym_reh_text_2 {
				position: absolute;
				top: 85%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.gym_app {
		text-align: center;
		width: 100vw;
		display: block;
		align-items: center;

		img {
			margin: 50px 0 0 0;
			width: 70vw;
			height: auto;
		}
	}
}
