@media only screen and (min-width:568px){
    header{
        .vidText{
            top: 35%;

            h1{
                font-size: 2rem;
            }

            h2{
                font-size: 2.3rem;
            }

            .vidTextButton{
                margin: 40px 0;

                button{
                    width: 150px;
                }
            }
        }
    }
    main{
        .line{
            height: 20vh;

            i{
                font-size: 2.5rem;
            }
        }
    }
}

@media only screen and (min-width: 768px){
    
    header{
        .navigation{
            ul{
                display: flex;
                list-style: none;
                
                li{
                    padding: 10px;
                    
                    a{
                        color: var(--lSilver);
                        text-decoration: none;
                    }
                }
            }
        }

        .vidText{
            top: 30%;
        }
    }

    main{
        .line{

            i{
                font-size: 2.8rem;
            }
        }
    }
}

@media only screen and (min-width: 1024px){
    header{
        .vidText{
            top: 50%;

            h1{
                font-size: 3rem;
            }

            h2{
                font-size: 3.3rem;
            }
        }
    }

    main{
        .type{
            .type_grid{
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;

                .box{
                    img{
                        max-width: 20vw;
                    }
                }
            }
        }
    }

    main{
        .line{
            height: 20vh;

            i{
                font-size: 4rem;
            }
        }

        .text{
            h2{
                font-size: 2rem;
            }

            p{
                font-size: 1.8rem;
            }
        }
    }
}